.comment-area{
	min-height: 200px;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	padding: 7px;
	border: 1px solid #cdcecf;
}
.comment-area .header{
	color: blue;
	margin:20px;
	text-align:center;
	text-transform: uppercase;
}
.comment-area .header div{
	font-size: 30px;
}
.comment-area .comment{
	min-height: 100px;
	background-color: white;
	/*margin-bottom: 10px;*/
	/*debug mode*/
	border-bottom: 0px;
}
.comment .commentator-info{
	text-align: center;
	width: 100px;
	margin-right: 20px;
	font-size: 18px;
	/*padding: 5px;*/
}
.commentator-info >.image-profile{
	width: 75px;
	height: 75px;
}
.commentator-info > a{
	display: block;
	text-decoration: none;
	overflow: hidden;
}
.comment {
	display: table;
	width: 100%;
}
.comment > div{
	display: table-row;
}
.comment > div > div {
	display: table-cell;
	padding: 5px;
	width: auto;
}
.comment .comment-content{
	font-size: 16px;
	padding: 5px;
	border-left: 1px solid #cdcecf;
	vertical-align: top;
}
.comment-content p{
	background-color: white;
	color: black;
	border-radius: 1px;
	padding: 5px;
}
.comment textarea{
	border: 1px solid #cdcecf;
	width: 100%;
	display: none;
}
.comment-area .action {
	font-size: 14px;
	text-align: right;
	border-left: 1px solid #cdcecf;
}
.comment-area .action > a{
	padding-right: 20px;
}
.comment .created-time{
	font-size: 12px;
	color: #898f9c;
	float: left;
}
.comment-area .action  .save-button,
.comment-area .action .create-button,
.comment-area .action .cancel-button,
.comment-area .action .cancel-edit-button {
	display: none;
}
.comment-area hr{
	margin: 2px;
}
.new-comment{
	min-height: 100px;
}
.new-comment textarea{
	margin-top: 20px;
	width: 100%;
	border: 1px solid #cdcecf;
}