@import url(font.css);
@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}
.page{
	width: 100%;
	height: 90vh;
	display: block;
	margin-bottom: 12vh;
}
.navbar{
	border-radius: 0px;
}
.nav-inverse nav a span{
	color: #47a3da;
}
.intro-menu-fixed{
	position: fixed;
	top: 0px;
	z-index: 2 !important;
}
.intro-menu-fixed > nav{
	top:0px !important;
	position: fixed !important;
}
#bk-list{
	margin-top: 100px;
}
.sns-connect{
	position: absolute;
	right: 0%;
	top: 0%;
	margin: 30px;
	color: white;
	font-weight: bold;
	font-size: 20px;
}
.sns-connect .sns-connect-image{
	height: 50px;
	width: 50px;
	margin: 10px;
}
.menu{
	opacity: 0.8;
	background-color: white
}
#intro-menu {
	z-index: 5;
}
#intro-menu > nav{
	position: absolute;
	top:88vh;
	width: 100%;
	z-index: 1;
}
#intro-menu > nav {
	height: 12vh;
}
.page-nav{
	color: white;
	font-weight: bold;
	margin-top: 30px;
	font-size: 20px;
	position: fixed;
	top:0px;
}
#carousel-example-generic{
	height: 100vh;
	overflow: hidden;
}
#carousel-example-generic .carousel-indicators{
	position: absolute;
	top: 80%;
	height: 10px;
	margin-bottom: 20px;
}
.lesson-wrapper{
	margin:auto;
	width:70%;
	position: relative;
}
.lesson-bar{
	background-color: gray;
	overflow: hidden;
	padding: 10px;
	width: 100%;
}
.lesson-bar ul{
	width: 2000%;
}
.control-button{
	/*width: 10%;*/
	position: absolute;
	top:0px;
	bottom: 0px;
	opacity: 0.9;
}
.control-button > span{
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}
.control-button.left{
	left: -20px;
}
.control-button.right{
	right: -20px;
}
.bg-video{
	position: fixed;
	top: -10px;
	left: -10px;
	height: 110vh;
	width: 110%;
	overflow: hidden;
}